body{
    background-color: black;
    margin: 0;
}

nav{
    background-color:cornflowerblue;
    width:  100%;
    height: 125px;
}

.container{
    width: 100%;
    height: 60vw;
    display: grid;
    grid-template-columns: repeat(8, 12.5vw);
    grid-template-rows: repeat(4, 25%);
}
.container2{
    width: 100%;
    height: 60vw;
    display: grid;
    grid-template-columns: repeat(8, 12.5vw);
    grid-template-rows: repeat(5, 20%);
}


.inputsDiv{
    background-color: cornflowerblue;
    grid-row: 2/4;
    grid-column: 2/4;
    text-align: center;
    font-size: 1.5vw;
}
.inputs{
    width: 20vw;
    height: 2vw;
    text-align: center;
    font-size: 1.2vw;
}
.inputs1{
    width: 20vw;
    height: 7vw;
}
.table{
    background-color: white;
    grid-row: 2/4;
    grid-column: 4/8;
}

.somethin{
    background-color: cornflowerblue;
    grid-row: 2/6;
    grid-column: 2/6;
}
.somethin2{
    background-color: white;
    grid-row: 3/5;
    grid-column: 6/8;
    background-image: url();
    background-size: cover;
}